.projects {
    margin-top: -72vh;
    position: relative;
    z-index: 10;
}
.projectCategory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}
.projectsItem {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 60px 0;
    position: relative;
    margin-bottom: -1px;
    opacity: 1;
    background-color: var(--black);
}
.projectsItem:nth-child(2)::before, .projectsItem:nth-child(2) {
    background-color: var(--dark);
}
.projectsItem::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1;
    background-color: var(--black);
}
.projectTechno {
    color: var(--white);
}
.projectPicture {
    width: 250px;
}
.projectIntro {
    font-size: 2.5rem;
    padding-right: 3rem;
}
.projectDescription {
    padding: 0 3rem 3rem 3rem;
    position: relative;
    color: var(--white);
}

.projectDescription h2 {
    font-size: 6rem;
    margin: 0;
    color: var(--white);
}
.modalContainer {
    width: 350px;
    height: 250px;
    position: fixed;
    background-color: var(--color-secondary);
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid var(--color-secondary);
    z-index: 99;
}
.modalSlider {
    height: 100%;
    width: 100%;
    position: fixed;
    transition: top 0.5s cubic-bezier(0.76,0,0.24,1);
}

.modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal img {
    height: auto;
}
.cursor, .cursorLabel {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--dark);
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    pointer-events: none;
    z-index: 999;
}
.cursorLabel {
    background-color: transparent;
}

.link {
    position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
    height: calc(100% + 50px);
    z-index: 99;
}