.groupInput {
    position: relative;
    margin-bottom: 5rem;
}
.groupInput input , .groupInput textarea { 
    border: 0;
    border-bottom: 1px solid var(--white);
    min-height: 50px;
    line-height: 1;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
    width: 100%;
    outline: 0;
    color: var(--color-primary);
    transform-origin: left;
    font-family: 'Antarctica';
    font-variation-settings: "wght"400, "wdth" 200;   
}
    .groupInput textarea {
        min-height: 150px;
        padding-top: 2rem;
    }
.groupInput label {
    position: absolute;
    top: 17px;
    left: 18px;

    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: normal;
    z-index: 10;
    pointer-events: none;
    width: 100%;
    font-variation-settings: "wght" 600;  
    color: #979797;
    
    transform-origin: top left;
    transition: top .5s ease-in-out, transform .5s ease-in-out;
}
.groupInput input:focus , .groupInput textarea:focus {
    outline: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.groupInput input:not(:placeholder-shown) + label, 
.groupInput input:focus + label, 
.groupInput textarea:not(:placeholder-shown) + label,
.groupInput textarea:focus + label {
    transform:  scale(.8) translateY(-30px);
    transform-origin: top left;
    transition: transform .5s ease-in-out;
}
.groupInput input::placeholder, .groupInput textarea::placeholder {
    color: transparent;
}
