.main{
    height: 100vh;
    position: relative;
    z-index: 999;
  }
  .mask, .body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 64px;
    line-height: 66px;
    cursor: default;
    font-variation-settings: "wght" 600;
  }
  .mask{
    mask-image: url('/images/mask.svg');
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: var(--color-primary);
    position: absolute;
    color: black;
    top: 0;
  }
  .mask p, .body p{
    padding:40px;
  }
  .mask span{
    color: var(--white);
  }