.title {
    font-size: 9.5rem;
    color: hsl(var(--foreground));
    font-variation-settings: "wght" 600 , "wdth" 200;
}
.intro {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 5rem;
    position: relative;
    z-index: 10;
}
.desc {
    font-size: 2rem;
    font-variation-settings: "wght" 400 ;
    font-family: var(--antartica);
    max-width: 870px;
    margin: 0 auto;
    line-height: 140%;
    margin-bottom: 40px;
}
