.description {
    margin-top: 200px;
    margin-bottom: 200px;
}
.title {
    font-size: 3.5rem;
    font-variation-settings: "wght" 400, "wdth" 150;
}
.intro {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 15px;
}
.intro p {
    line-height: 180%;
    font-size: 1.6rem;
}
.introPicto {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--primary));
    border-radius: 10px;
    padding: 10px;
}
.services ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 0 0 0 25px;
    margin-top: 30px;
}
.services li {
    list-style: none;
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
}
.services li::before {
    content: '';
    width: 12px;
    height: 8px;
    border-bottom: 2px solid hsl(var(--primary)) ;
    border-left: 2px solid hsl(var(--primary)) ;
    position: absolute;
    top: 3px;
    left: -25px;
    transform: rotate(-45deg);
}
.texte p{
    font-size: 1.8rem;
    line-height: 180%;
}

.card {
    background: url(/images/pro-upgrade-grid-bg.svg),hsl(var(--primary));
    border-radius: 10px;
    height: 450px;
    display: flex;
    align-items: center;
}
.card li {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}
.card li label {
    color: hsl(var(--background));
    font-size: 2rem;
}
.card li strong {
    color: hsl(var(--background));
    font-size: 2.6rem;
}
.card ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
}