.btn {
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: normal;
    display: inline-block;
    transition:.5s;
    line-height: 120%;
}
.btn-primary, .tag-primary {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
}
    .btn-primary:hover, .tag-primary:hover {
        background-color: hsl(var(--primary)/40%);
        transition:.5s;
    }
.btn-secondary, .tag-secondary {
    background-color: hsl(var(--secondary));
    color: hsl(var(--secondary-foreground));
}
    .btn-secondary:hover, .tag-secondary:hover {
        background-color: hsl(var(--secondary)/40%);
        transition:.5s;
    }
.btn-theme-color,.tag-theme-color {
    background-color: hsl(var(--foreground));
    color: hsl(var(--background));
}
    .btn-theme-color:hover,.tag-theme-color:hover {
        background-color: hsl(var(--foreground)/40%);
        transition:.5s;
    }

.tag-outline-theme, .btn-outline-theme {
    border: 1px solid hsl(var(--foreground) / 50%);
    transition: .5s;
}  
    .tag-outline-theme:hover,.btn-outline-theme:hover {
        background-color:  hsl(var(--foreground) );
        color: hsl(var(--background));
        transition: .5s;
    }   
.btn-rounded {
    border-radius: 50px;
}
.tag {
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: normal;
    display: inline-block;
    margin: 5px;
}
@media screen and (max-width:768px) {
    .btn {
        font-size: 1.2rem;
    }
}