.tab-navigation {
    border-left: 1px solid hsl(var(--border));
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}
.tab-navigation span:last-child {
    margin-bottom: 0;
}
.tab-navigation a {
    margin-bottom: 15px;
    color: hsl(var(--foreground));
    position: relative;
}
.tab-navigation a::before {
    content: '';
    width: 3px;
    height: 100%;
    position: absolute;
    left: -20px;
    border-radius: 0 2px 2px 0;
    background-color: hsl(var(--primary));
    opacity: 0;
}
.tab-navigation .active::before {
    opacity: 1;
}
.page-number.active {
    background-color: hsl(var(--foreground));
    color: hsl(var(--background));
    border-radius: var(--radius);
}
