.socialNetwork {
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 999999;
}
.link {
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: normal;
    font-variation-settings: "wght" 300;
}
.list {
    transform: rotate(-90deg);
    margin-bottom: 9rem;
    list-style: none;
}
.socialNetwork ul {
    position: relative;
}
.socialNetwork ul::before {
    content: '';
    position: absolute;
    top: calc(100% + 70px);
    height: 66px;
    width: 2px;
    right: 3rem;
    background-color: var(--white);
}