
.btnContainer {
    position: relative;
    background: none;
    outline: 0;
    border: 0;
    width: 132px;
    height: 132px;
}
.btnPrimary {
    padding: 15px 25px;
    border-radius: 50%;
    outline: 0;
    border: 0;
    font-size: 2.8rem;
    font-weight: normal;
    font-family: var(--antartica);
    font-variation-settings: "wght" 800;
    background-color: hsl(var(--primary-foreground));
    color: var(--dark);
    display: inline-block;
    position: relative;
    height: 192px;
    cursor: pointer;
    width: 192px;
}
.footer {
    position: relative;
    z-index: 99;
    background-color: var(--dark);
    padding-top: 40px;
    padding-bottom: 50px;
}
@media screen and (min-width:768px) {
    .footer {
        padding-top: 76px;
        padding-bottom: 100px;
    }
}
.linkFooter {
    font-size: 3.2rem;
    color: hsl(var(--foreground));
    font-weight: normal;
    font-family: var(--antartica);
    font-variation-settings: "wght" 600;
    display: flex;
    align-items: center;
    line-height: 1.5;
}
.linkFooter:hover .icoTriangle {
    transform: rotate(45deg);
    margin-right: 20px;
    transition: transform .5s, margin .2s;
}
.icoTriangle {
    width: 23px;
    height: 23px;
    background-color: hsl(var(--primary));
    clip-path: polygon(24px 24px ,24px 0px,0 0 , 0 0);
    margin-right: 10px;
    transition: transform .5s, margin .2s;
}
.blocContact {
    margin-bottom: 2rem;
}
.blocContact p {
    margin: 0;
    font-size: 1.6rem;
    color: var(--foreground);
    font-weight: normal;
    font-variation-settings: "wght" 600;
}
.blocContact a {
    font-size: 1.2rem;
    font-family: var(--antartica);
    color: hsl(var(--primary));
}

.connectTitle p {
    font-size: 1.4rem;
    font-family: var(--antartica);
    font-variation-settings: "wght" 600;
    color: hsl(var(--foreground));
    margin-bottom: 45px;
}