.links {
    display: flex;
    gap: 40px;
    position: relative;
}
.links a {
    font-variation-settings: "wght" 500, "wdth" 200;
    color: var(--white);
    display: block;
}
.borderAnimate {
    width: 50px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: white;
    display: block;
    transition: .3s ease-in;
}