.teaseComment {
    margin-bottom: 10px;
}
.teaseComment_head_picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.teaseComment_head {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.teaseComment_head h4 {
    margin-bottom: 0;
    font-weight: 600;
    font-family: var(--raleway);
}
.teaseComment_content {
    background-color: hsl(var(--muted));
    padding: 5px 10px;
    border-radius: var(--radius);
    max-width: max-content;
    margin: 10px 0;
}
.teaseComment_head .openModal {
    opacity: 0;
}
.teaseComment_head .openModal {
    opacity: 1;
}
.teaseComment_content p {
    margin: 0;
    line-height: 120%;
}
.reply_comment {
    position: relative;
}
.reply_comment::before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 0 0 0 var(--radius);
    border: 2px solid hsl(var(--border));
    border-right: 0;
    border-top: 0;
    position: absolute;
    right: 99%;
    top: -11px;
    z-index: -1;
}