.projectFun {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid gray;
}
@media screen and (max-width:768px) {
    .projectFun {
        grid-template-columns: 1fr;
    }
}
.projectFunItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid gray;
}
@media screen and (max-width:991px) {
    .projectFunItem {
        display: flex;
        flex-direction: column;
    }
}
.projectFunItem:last-child {
    border-bottom: 0;
}
.projectFunSticky {
    padding: 4rem 0;
    border-top: 1px solid gray;
}
.projectFunSticky a {
    position: sticky;
    top: 90px;
    /* background: var(--color-primary); */
    padding: 7px 20px;
    border-radius: 50px;
    color: var(--white);
    font-size: 1.4rem;
}
.projectFun__loop {
    border-top: 1px solid gray;
}
.projectFunItem__resum {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 140%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.projectFunItem__content{
    padding: 4rem;
    display: flex;
    flex-direction: column;
}
.projectFunItem__links {
    margin-top: auto;
}
.projectFunItem__content h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.projectFunItem__image, .projectFunItem__content {
    border-left: 1px solid gray;
}
.projectFunItem:nth-child(2n+1) .projectFunItem__content {
    order: -1;
}

.projectFunTitle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: flex-end;
    margin-bottom: 5rem;
}
.projectFunTitle h2 {
    line-height: 130%;
    font-family: var(--antartica);
    font-variation-settings: "wght" 700, "wdth" 200;
    margin-bottom: 20px;
    font-size: 5rem;
}

.nbProjectFun {
    padding-bottom: 2rem;
    border-bottom: 1px solid gray;
}
@media screen and (max-width:768px) {
    .nbProjectFun p {
        font-size: 1.6rem;
    }
}
.nbProjectFun p {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 700;
    color: hsl(var(--primary));
}

@media screen and (max-width:991px) {
    body .projectFunItem__content {
        order: 999!important;
        border: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .projectFunItem, .projectFun__loop {
        border: 0!important;
    }
    body .projectFunItem__image {
        order: 1!important;
        border: 0;
    }
}
@media screen and (max-width:768px) {
    .projectFunTitle h2 {
        font-size: 2rem;
    }
    .projectFunTitle p {
        font-size: 1.6rem;
    }
    .projectFunTitle {
        margin-bottom: 3rem;
    }
}