.main{
    position: relative;
    z-index: 999;
  }
  .mask, .body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(var(--foreground));
    font-size: 64px;
    line-height: 66px;
    font-weight: 600;
    cursor: default;
  }
  .mask{
    mask-image: url('/images/mask.svg');
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: hsl(var(--primary));
    position: absolute;
    color: black;
    top: 0;
  }
  .mask > div{
    padding:100px 40px;
  }
  .mask span{
    color: var(--white);
  }
  .mask a {
    background: hsl(var(--foreground));
    border-radius: 70px;
    padding: 0 30px;
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }