.cursor {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    transition: background-position .1s, background-size .5s;
    background-color: var(--white);
    width: 450px;
    height: 450px;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}