.color-primary {
    color: hsl(var(--primary));
}
.color-secondary {
    color: hsl(var(--secondary));
}

.bg-primary {
    background-color: hsl(var(--primary));
}
.bg-secondary {
    background-color: hsl(var(--secondary));
}


.aspect-1-1 {
    aspect-ratio: 1 / 1;
}
.aspect-4-3 {
    aspect-ratio: 4 / 3;
}
.aspect-16-9 {
    aspect-ratio: 16 / 9;
}
.cover {
    overflow: hidden;
    position: relative;
}
.zoom {
    position: relative;
    overflow: hidden;
}
.zoom img {
    transition: transform .5s;
}
.zoom img:hover {
    transform:scale(1.2);
    transition: transform .5s;
} 
.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.radius {
    border-radius: var(--radius);
}
/* Menu burger */
.menuBurger {
    position: relative;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    border-radius: 0;
    border: 0;
    outline: 0;
    width: 35px;
    background: none;
    height: 20px;
    cursor: pointer;
}
.menuBurger span {
    height: 2px;
    border-radius: 3px;
    display: block;
    background-color: hsl(var(--foreground));
    width: 100%;
    transition: .4s;
}
.menuBurger::before, .menuBurger::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: hsl(var(--foreground));
    border-radius: 3px;
    transition: .4s;
}
.menuBurger.active span {
    opacity: 0;
    transition: .4s;
}
.menuBurger.active::before {
    transform: rotate(45deg) translate(6px,5px);
    transition: .4s;
}
.menuBurger.active::after {
    transform: rotate(-45deg) translate(6px,-5px);
    transition: .4s;
}
.gap-10 {
    gap: 10px;
}

.medium {
    font-weight: 500;
}
.strong {
  font-weight: 700;
}

.list-style-none {
  list-style: none;
}
/* Title */

h2 {
    line-height: 130%;
    font-family: var(--antartica);
    font-variation-settings: "wght" 700, "wdth" 200;
  }
  h2 strong, h3 strong {
    font-variation-settings: "wght" 700 , "wdth" 150,"ital" 10;
    color: hsl(var(--primary));
  }
  @media screen and (min-width:991px) {
    h2 {
      font-size: 6rem;
      font-variation-settings: "wght" 800;
    }
  }

h1, h2, h3, h4, h5, h6, .like-h1, .like-h2, .like-h3, .like-h4, .like-h5, .like-h6 {
  color: hsl(var(--foreground));
  font-family: var(--antartica);
  font-variation-settings: "wght" 300 , "wdth" 150;
  margin-top: 0;
}

h1, .like-h1 {
  font-size: 3rem;
  line-height: 120%;
  margin-bottom: 18px;
  color: hsl(var(--primary));
  font-weight: 300;
}
  @media (min-width: 991px) {
    h1, .like-h1 {
        font-size: 3.5rem;
    }
  }

h3, .like-h3 {
  font-size: 1.8rem;
  margin-bottom: 32px;
  margin-top: 15px;
  line-height: 112%;
}

  @media (min-width: 991px) {
    h3, .like-h3 {
      font-size: 2rem;
    }
  }


  .commentItem .openModal {
    opacity: 0;
    transition: .4s;
  }
  .commentItem:hover .openModal {
    opacity: 1;
    transition: .4s;
  }



hr {
  max-width: 250px;
  display: block;
  margin: 20px 0;
  border-color: hsl(var(--border));
}

.isDisable {
  cursor: not-allowed!important;
}

  /* styles.css */

/* Utility classes */
.bg-neutral-800 {
    background-color: #333333;
  }
  
  .flex {
    display: flex;
  }
  
  .h-48 {
    height: 12rem;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .font-semibold {
    font-weight: 600;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .text-neutral-500 {
    color: #999999;
  }
  
  .relative {
    position: relative;
  }
  
  .sticky {
    position: sticky;
  }
  
  .top-0 {
    top: 0;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .flex {
    display: flex;
  }
  
  .gap-4 {
    gap: 1rem;
  }
  
  .group {
    position: relative;
  }
  
  .h-450 {
    height: 100vh;
  }
  
  .w-450 {
    width: 100vw;
  }
  
  .bg-neutral-200 {
    background-color: #f0f0f0;
  }
  
  .absolute {
    position: absolute;
  }
  
  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .z-0 {
    z-index: 0;
  }
  
  .transition-transform {
    transition-property: transform;
    transition-duration: 300ms;
  }
  
  .group-hover\:scale-110:hover {
    transform: scale(1.1);
  }
  
  .bg-gradient-to-br {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  }
  
  .p-8 {
    padding: 2rem;
  }
  
  .text-6xl {
    font-size: 4rem;
  }
  
  .font-black {
    font-weight: 900;
  }
  
  .text-white {
    color: #fff;
  }
  
  .backdrop-blur-lg {
    backdrop-filter: blur(8px);
  }
  
  /* Custom classes */
  .h-300 {
    height: 300vh;
  }
  
  .bg-neutral-900 {
    background-color: #111111;
  }


  .wp-block-media-text {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto;
  }
  .wp-block-media-text .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }
  .wp-block-media-text .wp-block-media-text__content {
    direction: ltr;
    grid-column: 2;
    grid-row: 1;
    padding: 0 8%;
    word-break: break-word;
  }
  .tags-lists {
    list-style: none;
    padding: 0;
    margin-top: 5rem;
  }
  .show-more {
    background: none;
    border: 0;
    outline: 0;
    position: relative;
    padding: 0;
    cursor: pointer;
  }
  .show-more::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color:  hsl(var(--foreground));
    transition: transform .5s;
  }
  .show-more:hover::after {
    transform: translateY(5px);
    transition: transform .5s;
  }



  .blog p {
    line-height: 160%;
  }
  .blog h2 {
    color: hsl(var(--foreground));
  }
  .blog h2 strong {
    color: hsl(var(--foreground));
  }
  .copy-to-clipboard-button[data-copy-state='copy'] span {
    display: none;
  }
  .copy-to-clipboard-button {
    background-image: url(/images/copy.svg)!important;
    width: 25px;
    height: 25px;
    background-size: 70%!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-color: hsl(var(--background))!important;
  }
  .copy-to-clipboard-button[data-copy-state='copy-success'] {
    width: 55px;
    background-image: initial!important;
  }


  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  .ellipsis--2 {
    -webkit-line-clamp: 2;
  }
  
  .ellipsis--3 {
    -webkit-line-clamp: 3;
  }
  
  .ellipsis--4 {
    -webkit-line-clamp: 4;
  }
  
  .ellipsis>* {
    margin: 0;
  }
  