:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;

  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;

  --primary: 30deg 95% 62%;
  --primary-foreground: 0 0% 98%;
  --secondary: 61deg 94% 58%;
  --secondary-foreground: 0 0% 40%;

  --tertiary: 0 0% 96.1%;
  --tertiary-foreground: 0 0% 98%;

  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 98%;

  --accent: 0 0% 95%;
  --accent-foreground: 0 0% 9%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 89.8%;
  --input: 0 0% 59%;
  --ring: 0 0% 3.9%;

  --radius: 0.5rem;
  --padding: 16px;
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;

  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;

  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;

  --primary: 30deg 95% 62%;
  --primary-foreground: 0deg 0% 5%;

  --secondary: 61deg 94% 58%;
  --secondary-foreground: 0 0% 1.1%;

  --tertiary: 0 0% 14.9%;
  --tertiary-foreground: 0 0% 9%;

  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;

  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 14.9%;
  --input: 0 0% 59%;
  --ring: 0 0% 83.1%;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 120%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-weight: 400;
  transition: background-color .5s, color .5s;
  padding: 0;
  margin: 0;
}
body p {
  color: hsl(var(--foreground)/80%);
}
@media screen and (max-width:991px) {
  body {
    font-size: 1.4rem;
    line-height: 140%;
  }
}
@media screen and (max-width:768px) {
  html,body {
    overflow-x: hidden;
  }
}
.light header {
  backdrop-filter: brightness(1.9) blur(15px)!important;
}
a {
  color: inherit;
  text-decoration: none;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

html.lenis {
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}
.content img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.content h2 {
  font-size: 2.5rem;
  margin: 2rem 0 1.8rem 0;
}

em {
  font-weight: 500;
  margin-bottom: 0;
  display: block;
  font-size: 1.5rem;
  color: hsl(var(--foreground));
}

pre {
  border-radius: var(--radius);
  overflow: hidden;
  padding: 10px 15px!important;
}

