.search {
    position: relative;
    margin-bottom: 20px;
}
.search > svg:first-of-type {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.search .ctrl_k {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
}
.search .ctrl_k:focus , .search .ctrl_k:hover {
    border: 0;
    outline: 0;
    background: none;

}
.search input {
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
    background: none;
    padding: 10px 10px 9px 30px;
    width: 100%;
    font-size: 1.2rem;
    color: hsl(var(--foreground) / 40%);
    outline: 0;
}
.search input:focus {
    border-color: hsl(var(--input));
}